/.idea/vcs.xml
/.idea/modules.xml
/.idea/Composition.iml
/.idea/.gitignore
/node_modules/
/build/
/.idea/prettier.xml
/.idea/codeStyles/Project.xml
/.idea/codeStyles/codeStyleConfig.xml
/.idea/Composition Object Creation.iml
